<div class="home_main_top" *ngIf="false" >HomeToppage works!</div>

<button (click)="createHelloWorldComponent()">Create Hello World</button>
<button (click)="createWorldHelloComponent()">Create World Hello</button>
<dynamic-component [componentData]="componentData"></dynamic-component>



<div (mousemove)="changeMove($event)" (mouseup)="tdlineUp($event)" *ngIf="false"  >
    <table style="margin:20px;">
        <tr>
            <td [ngClass]="{
                borr : moveObj.hoverindex === in,
                borl : moveObj.hoverindex === in-1,
                tdclass:true}"
                (mouseup)="mouseUp($event,in,i.width)" 
                *ngFor="let i of trlist;let in = index;" 
                [style.width.px]="i.width" 
                (mousedown)="mouseClickDown(in)"
                (mousemove)="mouseMove($event,in,i.width)"
                (dragstart)="false" >
                {{i.name}}
                <div class="tdline" (mousedown)="tdlineDown($event,in)"></div>
            </td>
        </tr>
        <tr *ngFor="let j of ulList" >
            <td *ngFor="let i of trlist" [style.width.px]="i.width" >
                <span >{{j[i.name]}}</span>
            </td>
        </tr>
    </table>
</div>