@base: #313841;
@base2: #313841;
@base3: #666;
@basecolor4:#346ac9;
@basecolor5:#e2e9ef;

@top_height: 50px;
@left_and_right_line: 125px;
@right_top_height:30px;

.Line_height(@height) {
  height:@height;
  line-height: @height;
}
.Absolute(@top,@right,@bottom,@left) {
    position:absolute;
    top:@top ;
    right:@right;
    bottom:@bottom;
    left:@left;
}
.abc(a,@abc,@bcd) when(@abc > 40){
    width:@abc;
    height:@bcd;
}
.abc(b,@abc,@bcd){
    width:@bcd;
    height:@abc;
}
.Relative(@top,@right,@bottom,@left){
    position:relative;
    top:@top;
    right:@right;
    bottom:@bottom;
    left:@left;
}