@import '../../css/lessbase.less';

.home_main_left {
  .Absolute(@top_height,'',0,0);
  width:@left_and_right_line;
  background:@base2;
  overflow: auto;
}
.testabc{
  .abc(a,50px,80px);
}
.testabc2{
  .abc(b,40px,80px);
}
.home_main_right {
  .Absolute(@top_height,0,0,@left_and_right_line);
}
.button_hover{
  background:@base;
}
.home_right_title{
  display: inline-block;
  width:100px;
  .Line_height(@right_top_height+(-20));
  text-align: center;
  button {
    width:90px;
  }
}
.home_right_top{
  position:relative;
  height:@right_top_height;
  width:100%;
  overflow: auto;
}
.home_right_top_box{
  white-space: nowrap;
}
.home_right_body{
  border-top:1px solid #000;
  background:#fff;
  .Absolute(@right_top_height,0,0,0);
}
.checklistall{
  width:106px;
  height:28px;
  border:1px solid #346ac9;
  margin:18px auto;
  border-radius: 3px;
  cursor:pointer;
}
.checklist{
  float:left;
  width:53px;
  height:28px;
  line-height:28px;
  text-align: center;
  color:#fff;
  font-size:12px;
}
.checkhover{
  background:#346ac9;
}
.checklistli{
  position:relative;
  height:40px;
  line-height:40px;
  margin:0 0 18px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.checklisthover{
  background:#346ac9;
}
.checklisthover .checklisttriangle{
  display:block;
}
.checklisticon{
  width:50px;
  height:40px;
  float:left;
}
.checklisttext{
  height:40px;
  font-size:14px;
  color:#fff;
  float:left;
}
.checklisttriangle{
  display:none;
  border-right:13px solid #fff;
  border-top:12px solid transparent;
  border-bottom:12px solid transparent;
  .Absolute(7px,0,'','');
}
.shopicon{
  width:25px;
  height:25px;
  margin:7px 12px;
  background:url('assets/img/shopping-cart.png') no-repeat center center / 100% 100%;
}
.checklisthover .shopicon{
  background:url('assets/img/shopping-cart-hover.png') no-repeat center center / 100% 100%;
}