@import '../../css/lessbase.less';

.home_main_left {
  .Absolute(@top_height,'',0,0);
  width:@left_and_right_line;
  background:@base2;
}
.home_main_right {
  .Absolute(@top_height,0,0,@left_and_right_line);
}
.button_none{
  position:relative;
  margin:0;
  padding:0;
  background:#fff;
  height:30px;
  border:1px solid #dbdbdb;
}
.button_hover_line{
  height:3px;
  position:absolute;
  .Absolute(-1px,-1px,'',-1px);
  background:@basecolor4;
}
.button_hover{
  background:@basecolor5;
  border-bottom: 1px solid @basecolor5;
}
.home_right_title{
  display: inline-block;
  margin-right:3px;
  .Line_height(@right_top_height+(-20));
  text-align: center;
  button {
    width:90px;
  }
}
.home_right_top{
  position:relative;
  height:@right_top_height;
  width:100%;
  overflow: auto;
  z-index: 1;
}
.home_right_top_box{
  white-space: nowrap;
}
.home_right_body{
  border-top:1px solid #dbdbdb;
  background:#e2e9ef;
  .Absolute(@right_top_height+(-1),0,0,0);
}
.checklistall{
  width:106px;
  height:28px;
  border:1px solid #346ac9;
  margin:18px auto;
  border-radius: 3px;
  cursor:pointer;
}
.checklist{
  float:left;
  width:53px;
  height:28px;
  line-height:28px;
  text-align: center;
  color:#fff;
  font-size:12px;
}
.checkhover{
  background:#346ac9;
}
.checklistli{
  position:relative;
  height:40px;
  line-height:40px;
  margin:0 0 18px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.checklisthover{
  background:#346ac9;
}
.checklisthover .checklisttriangle,
.checklisthover .checklistrightbox{
  display:block;
}
.checklisticon{
  width:50px;
  height:40px;
  float:left;
}
.checklisttext{
  height:40px;
  font-size:14px;
  color:#fff;
  float:left;
}
.checklisttriangle{
  display:none;
  border-right:13px solid #fff;
  border-top:12px solid transparent;
  border-bottom:12px solid transparent;
  .Absolute(7px,0,'','');
}
.shopicon{
  width:25px;
  height:25px;
  margin:7px 12px;
  background:url('assets/img/shopping-cart.png') no-repeat center center / 100% 100%;
}
.checklisthover .shopicon{
  background:url('assets/img/shopping-cart-hover.png') no-repeat center center / 100% 100%;
}

.checklistrightbox{
  display: none;
  position:absolute;
  left:115px;
  background:#fff;
  padding:15px 0 15px 15px;
  z-index: 100;
  border-top:1px solid #e1e1e1;
  border-bottom:1px solid #e1e1e1;
  box-shadow: 10px 0px 15px 1px #999;
}
.checklistshawbox{
  position:absolute;
  right:-10px;
  width:10px;
  top:-1px;
  bottom:-1px;
  background:#fff;
  border:1px solid #e1e1e1;
  border-left:none;
}
.checklisthoverli{
  width:150px;
  border-right:1px dashed #d1d1d1;
  display:inline-block;
}
.checklistul{
  white-space:nowrap;
}
.checklistli_top{
  height:35px;
  line-height:35px;
  color:#346ac9;
  font-size:16px;
  padding-left:22px;
}
.checklistli_list{
  margin:10px 0;
  height:18px;
  line-height:18px;
  padding-left:22px;
  font-size:12px;
}