<head></head>
<div id="haha" class="home_main_left">
    <div class="checklistall" >
        <ng-container *ngFor="let c of checkList.list; let i = index;">
            <div [ngClass]="{'checkhover':i == checkList.index,'checklist':true}" (click)="checkList.index = i" >{{c}}</div>
        </ng-container>
    </div>
    <ul>
        <li class="checklistli" [ngClass]="{'checklisthover':leftListKey == i}" *ngFor="let i of menuList;let in = index;" (click)="clickTo(i)" >
            <div class="checklisticon"><div class="shopicon"></div></div>
            <div class="checklisttext">{{menuBase[i].name}}</div>
            <div class="checklisttriangle"></div>
        </li>
    </ul>
    <button (click)="openModal()">打开模态框</button>
    <div class="testabc"></div>
    <div class="testabc2"></div>
</div>
<div class="home_main_right">
    <div class="home_right_top">
        <ul class="home_right_top_box">
            <li class="home_right_title" *ngFor="let i of showList; let j = index" >
                <button [class.button_hover]="this.showListIndex == j" (click)="this.showListIndex = j">{{i.name}}</button>
            </li>
        </ul>
    </div>
    <ul class="home_right_body">
        <li class="home_right_body_list" *ngFor="let i of showList; let j = index" >
            <!--<div *ngIf = "j == showListIndex" >
            <button >{{j}}</button>
            </div>-->
            <div [style.display]="j == showListIndex ? 'block' : 'none'" >
                <div *ngIf = "i.childs != undefined">
                    <!--<button *ngFor="let k of i.childs" (click)="clickTo(k)">{{menuBase[k].name}}</button>-->
                    <app-toollist *ngFor="let k of i.childs" [toolListObj]="k" (toolListClick)="clickTo($event)" ></app-toollist>
                    <!--{{i.showType}}-->
                </div>
                <div *ngIf = "i.childs == undefined">
                    <app-forms [formsObj]="i.showType"></app-forms>
                </div>
            </div>
        </li>
    </ul>
</div>
<app-modals></app-modals>